.display-products h2{
    text-align: center;
}

.recommended{
    width: 100%;
    margin-left: 45px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}